<section class="banner">
    <div class="banner-background banner-background-slick" style="background:url('assets/images/banner.jpg')center center; background-size: cover">
        <!-- <div class="banner-background-overlay" style="background-image:url('assets/images/banner.jpg')"></div> -->

        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 hidden-xs flex flex-center">
                    <h1 class="text-center color-white">Sample</h1>
                </div>
                <div class="col-md-5 col-sm-6 flex flex-end">
                    <div class="bannerText">
                        <div class="book-title">
                            <img src="assets/images/book-icon.png" class="booking-icon text-uppercase" alt="Booking-Icon"/><span class="book-label">Book Online</span>
                        </div>
                        <div class="booking-content">
                            <select class="custom-dropdown custom-select margin-bottom-10"
                                    data-ng-model="vm.origin"
                                    data-ng-options="loc.locationId as loc.locationName for loc in vm.locationList">
                                    <option value="" disabled selected>Select Origin</option>
                            </select>
                            <select class="form-control custom-select margin-top-5">
                                <option value="" disabled selected class="text-uppercase">Nationality/Region</option>
                                <option value="1">Audi</option>
                                <option value="2">BMW</option>
                                <option value="3">Citroen</option>
                            </select>
                            <div class="tabs btn-group">
                                <button type="button" class="btn text-uppercase btn-default active"><a href="#oneWay">One Way</a></button>
                                <button type="button" class="btn text-uppercase btn-default"><a href="#roundTrip">Round Trip</a></button>
                            </div>
                            <div id="oneWay">
                                
                            </div>   
                            <div id="roundTrip">
                                <div class="date">
                                    <div class="flex-1"> <input type="date" class="date-box"></div>
                                    <div class="flex-1"> <input type="date" class="date-box"></div>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-check text-uppercase btn-default margin-top-10 hvr-icon-pulse-grow" data-ng-click="vm.search()"><a>Check Availability</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <!-- <div class="banner-overlay"></div> -->
    
    
</section>
