<div class="width-100">
    <div class="booking-summary margin-top-20">
        <h2 class="text-uppercase color-white margin-left-10 margin-0">Booking Summary</h2>
    </div>
    <div class="booking-content margin-top-5 padding-20">
        <booking-summary booking-data="vm.passengerTypes" total-data="vm.totalData" booking-type="1"></booking-summary>
        <booking-summary booking-data="vm.returnPassengerTypes" total-data="vm.totalData" booking-type="2"></booking-summary>
        <h3 class="title">Grand Total</h3>
        <div class="grand-total">
            <p class="number">{{vm.getGrandTotal().toFixed(2) | number:2}} PHP</p>
        </div>
   
    </div>
</div>