<h2 class="color-white margin-0 text-uppercase">Passenger Details:</h2>
<div class="tabs">
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-departure">Departure</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-return">Return</button>
        </div>
    </div>
</div>
<!-- <passenger-details booking-data="vm.passengerTypes" total-data="vm.totalData" booking-type="1" type-name="'Departure'"></passenger-details> -->
<div data-ng-repeat="data in vm.returnPassengerTypes" data-ng-if="data.count">
    <passenger-details booking-data="data" type-name="data.typeName" type-data="vm.returnPassengerTypes" total-count="data.count"></passenger-details>
</div>