<h2 class="color-white margin-0 text-uppercase">Passenger Details:</h2>
<div class="tabs">
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-departure">Departure</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-return">Return</button>
        </div>
    </div>
</div>
<div>
    <div class="type">
        <div class="flex"><p>Student</p></div>
        <div class="flex"><p>Close Group</p><div class="close"><span class="fa fa-remove"></span></div></div>
    </div>
    <div class="outer-background">
        <div class="content">
            <div class="close">
                <span class="fa fa-remove"></span>
            </div>

            <p class="line-height-20">Guest name must match government-issued photo ID in Roman alphabet (A-Z). Any name changes after booking will require the purchase of a new ticket.</p>
            <div class="row">
                <div class="col-sm-6">
                    <form>
                        <div class="">
                            <select name="" class="form-control custom-select" id="">
                                <option value="" disabled selected class="text-uppercase">Select Gender:</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        <input type="text" class="form-control textbox margin-top-5" placeholder="FIRST NAME">
                
                        <select class="form-control custom-select margin-top-5">
                            <option value="" disabled selected class="text-uppercase">Nationality/Region</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                            <option value="3">Citroen</option>
                            <option value="4">Ford</option>
                            <option value="5">Honda</option>
                            <option value="6">Jaguar</option>
                            <option value="7">Land Rover</option>
                            <option value="8">Mercedes</option>
                            <option value="9">Mini</option>
                            <option value="10">Nissan</option>
                            <option value="11">Toyota</option>
                            <option value="12">Volvo</option>
                        </select>
                        
                    </form>
                </div>
                <div class="col-sm-6">
                
                    <select class="form-control custom-select">
                        <option value="" disabled selected class="text-uppercase">Nationality/Region</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                    </select>
                    
                    <input type="text" class="form-control textbox margin-top-5" placeholder="FIRST NAME">
                    <div class="birthdate-flex margin-top-5">
                        <div class="flex-1 flex-basis"><label class="text-uppercase margin-0">Birthdate:</label></div>
                        <div class="flex-1"><input type="text" class="form-control" id=""><span class="fa fa-calendar position-abs"></span></div>
                    </div>
                </div>
            </div>
        </div>
    <hr/>
        <div class="content">
            <div class="close">
                <span class="fa fa-remove"></span>
            </div>

            <p class="line-height-20">Guest name must match government-issued photo ID in Roman alphabet (A-Z). Any name changes after booking will require the purchase of a new ticket.</p>
            <div class="row">
                <div class="col-sm-6">
                    <form>
                        <div class="">
                            <select name="" class="form-control custom-select" id="">
                                <option value="" disabled selected class="text-uppercase">Select Gender:</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        <input type="text" class="form-control textbox margin-top-5" placeholder="FIRST NAME">
                
                        <select class="form-control custom-select margin-top-5">
                            <option value="" disabled selected class="text-uppercase">Nationality/Region</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                            <option value="3">Citroen</option>
                            <option value="4">Ford</option>
                            <option value="5">Honda</option>
                            <option value="6">Jaguar</option>
                            <option value="7">Land Rover</option>
                            <option value="8">Mercedes</option>
                            <option value="9">Mini</option>
                            <option value="10">Nissan</option>
                            <option value="11">Toyota</option>
                            <option value="12">Volvo</option>
                        </select>
                        
                    </form>
                </div>
                <div class="col-sm-6">
                
                    <select class="form-control custom-select">
                        <option value="" disabled selected class="text-uppercase">Nationality/Region</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                    </select>
                    
                    <input type="text" class="form-control textbox margin-top-5" placeholder="FIRST NAME">
                    <div class="birthdate-flex margin-top-5">
                        <div class="flex-1 flex-basis"><label class="text-uppercase margin-0">Birthdate:</label></div>
                        <div class="flex-1"><input type="text" class="form-control" id=""><span class="fa fa-calendar position-abs"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="type">
        <div class="flex"><p>Student</p></div>
        <div class="flex"><p>Close Group</p><div class="close"><span class="fa fa-remove"></span></div></div>
    </div>
    <div class="outer-background">
        <div class="content">
            <div class="close">
                <span class="fa fa-remove"></span>
            </div>

            <p class="line-height-20">Guest name must match government-issued photo ID in Roman alphabet (A-Z). Any name changes after booking will require the purchase of a new ticket.</p>
            <div class="row">
                <div class="col-sm-6">
                    <form>
                        <div class="">
                            <select name="" class="form-control custom-select" id="">
                                <option value="" disabled selected class="text-uppercase">Select Gender:</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        <input type="text" class="form-control textbox margin-top-5" placeholder="FIRST NAME">
                
                        <select class="form-control custom-select margin-top-5">
                            <option value="" disabled selected class="text-uppercase">Nationality/Region</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                            <option value="3">Citroen</option>
                            <option value="4">Ford</option>
                            <option value="5">Honda</option>
                            <option value="6">Jaguar</option>
                            <option value="7">Land Rover</option>
                            <option value="8">Mercedes</option>
                            <option value="9">Mini</option>
                            <option value="10">Nissan</option>
                            <option value="11">Toyota</option>
                            <option value="12">Volvo</option>
                        </select>
                        
                    </form>
                </div>
                <div class="col-sm-6">
                
                    <select class="form-control custom-select">
                        <option value="" disabled selected class="text-uppercase">Nationality/Region</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                    </select>
                    
                    <input type="text" class="form-control textbox margin-top-5" placeholder="FIRST NAME">
                    <div class="birthdate-flex margin-top-5">
                        <div class="flex-1 flex-basis"><label class="text-uppercase margin-0">Birthdate:</label></div>
                        <div class="flex-1"><input type="text" class="form-control" id=""><span class="fa fa-calendar position-abs"></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>