<div class="payment">
    <div class="payment-label">
        <p>Hurry! Complete your payment before your slot expires! </p>
        <p>Please pay your tickets atleast  <span class="four-hours text-uppercase"> 4 hours </span>  prior to boarding to avoid cancellation of booking.</p>
    </div>
    <div class="ref">
        <h3 class="ref-number text-uppercase">Ref #: leo-102-001</h3>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <p class="color-white text-uppercase text-center margin-top-30">You May pay your ticket through the following payment channels.</p>
            <div class="col-sm-8 padding-top-right container-overlay">
                <div class="mlhuillier image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-4 padding-top-left container-overlay">
                <div class="gcash image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-6 padding-top-right container-overlay">
                <div class="ecpay image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-6 padding-top-left container-overlay">
                <div class="smart-money image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-5 padding-top-right container-overlay">
                <div class="lbc image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-7 padding-top-left container-overlay">
                <div class="palawan image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-5 padding-top-right container-overlay">
                <div class="cebuana image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-7 padding-top-left container-overlay">
                <div class="over-the-counter image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-6 padding-top-right container-overlay">
                <div class="paypal image"></div>
                <div class="middle">
                    <div class="text">Instructions</div>
                </div>
            </div>
            <div class="col-sm-6 padding-top-left container-overlay">
                <div class="finish">
                    <div class="btn btn-finish hvr-icon-pulse-grow">FINISH</div>
                </div>
            </div>
        </div>
    </div>
</div>

