<section class="schedule-section">
    <div class="container ">

        <div class="row margin-top-100">
            <div class="col-md-9 col-md-offset-3 col-sm-6 col-sm-offset-6">
                <div class="box padding-10">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="background-gray-active flex"><span class="number-1"></span><span class="tabs-label">Search Trip</span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="background-gray-active flex"><span class="number-2"></span><span class="tabs-label">Trip Details</span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="flex"><span class="number-3"></span><span class="tabs-label">Passenger Detail</span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="flex"><span class="number-4"></span><span class="tabs-label">Payment</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row black-whole">
            <div class="col-md-8">
                <div class="padding-top-bot width-100">
                    <div class="black-left">
                        <slick arrows="false" touch-move="false" infinite="false">
                            <div>
                                <ng-include src="'assets/app/template/partial/tripDetails.html'"></ng-include>
                            </div>
                            <div>
                                <ng-include src="'assets/app/template/partial/passengerDetails.html'"></ng-include>
                            </div>
                            <div>
                                <ng-include src="'assets/app/template/partial/payment.html'"></ng-include>
                            </div>
                        </slick>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <div class="col-sm-5 col-xs-5">
                                    <button type="button" class="btn btn-back text-uppercase margin-top-10" data-ng-click="vm.back()"><a>Back</a></button>
                                </div>
                                <div class="col-sm-7 col-xs-7">
                                    <button type="button" class="btn btn-proceed text-uppercase margin-top-10" data-ng-click="vm.proceed()"><a>Proceed</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
            
            <div class="break1"></div>

            <div class="col-md-4">  
                <ng-include src="'assets/app/template/partial/bookingSummary.html'"></ng-include>
            </div>
        </div>
    </div>
</section>