<section class="schedule-section">
    <div class="container-fluid custom-padding-100">

        <div class="row margin-top-100">
            <div class="col-md-9 col-md-offset-3 col-sm-6 col-sm-offset-6">
                <div class="box padding-10">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="background-gray-active flex"><span class="number-1"></span><span class="tabs-label">Search Trip</span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="background-gray-active flex"><span class="number-2"></span><span class="tabs-label">Trip Details</span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="flex"><span class="number-3"></span><span class="tabs-label">Passenger Detail</span></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="flex"><span class="number-4"></span><span class="tabs-label">Payment</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row black-whole">
            <div class="col-md-8">
                <div class="padding-top-bot width-100">
                    <div class="black-left">
                        <h2 class="color-white margin-0">Trip Details</h2>
                        <div class="row margin-top-15">
                            <div class="col-lg-6 col-md-12 col-sm-12 return">
                                <h2 class="text-uppercase color-white text-center margin-0">Departure</h2>
                                <div class="departure-box  margin-top-15 padding-20">
                                    <div class="flex-main-table">
                                        <div class="flex-table">
                                            <div class="table-responsive">
                                                <table class="table">       
                                                    <tr>
                                                        <th>Origin</th>
                                                        <th>Hilongos</th>
                                                    </tr>
                                                    <tbody>
                                                        <tr>
                                                            <td>Departure</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>02/02/18</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Time</td>
                                                            <td>9:00AM</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>    
                                        </div>
                                        <div class="flex-table">
                                            <div class="table-responsive">
                                                <table class="table">       
                                                    <tr>
                                                        <th>Distination</th>
                                                        <th>Ubay</th>
                                                    </tr>
                                                    <tbody>
                                                        <tr>
                                                            <td>Arrival</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>02/02/18</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Time</td>
                                                            <td>11:00AM</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-40">
                                    <div class="col-md-12">
                                        <table class="table table-align-center">
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Regular</td>
                                                <td class="color-white text-uppercase">P 250.00</td>
                                                </tr>
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Student</td>
                                                <td class="color-white text-uppercase">P 200.00</td>
                                            </tr>
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Senior Citizen</td>
                                                <td class="color-white text-uppercase">P 200.00</td>
                                            </tr>
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Children</td>
                                                <td class="color-white text-uppercase">P 150.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="break"></div>
                            <div class="col-lg-6 col-md-12 col-sm-12 return">
                                <h2 class="text-uppercase color-white text-center margin-0">Return</h2>
                                <div class="return-box  margin-top-15 padding-20">
                                    <div class="flex-main-table">
                                        <div class="flex-table">
                                            <div class="table-responsive">
                                                <table class="table">       
                                                    <tr>
                                                        <th>Origin</th>
                                                        <th>Hilongos</th>
                                                    </tr>
                                                    <tbody>
                                                        <tr>
                                                            <td>Departure</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>02/02/18</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Time</td>
                                                            <td>9:00AM</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>    
                                        </div>
                                        <div class="flex-table">
                                            <div class="table-responsive">
                                                <table class="table">       
                                                    <tr>
                                                        <th>Distination</th>
                                                        <th>Ubay</th>
                                                    </tr>
                                                    <tbody>
                                                        <tr>
                                                            <td>Arrival</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>02/02/18</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Time</td>
                                                            <td>11:00AM</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-40">
                                    <div class="col-md-12">
                                        <table class="table table-align-center">
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Regular</td>
                                                <td class="color-white text-uppercase">P 250.00</td>
                                                </tr>
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Student</td>
                                                <td class="color-white text-uppercase">P 200.00</td>
                                            </tr>
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Senior Citizen</td>
                                                <td class="color-white text-uppercase">P 200.00</td>
                                            </tr>
                                            <tr>
                                                <td><div class="flex-center"><span class="circle margin-right-10 text-center">-</span><span class="box-number margin-right-10 flex-center"><span>2</span></span><span class="circle text-center">+</span></div></td>
                                                <td class="color-white text-uppercase">Children</td>
                                                <td class="color-white text-uppercase">P 150.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="col-sm-5 col-xs-5">
                                    <button type="button" class="btn btn-back text-uppercase margin-top-10 hvr-bounce-in"><a href="#">Back</a></button>
                                </div>
                                <div class="col-sm-7 col-xs-7">
                                    <button type="button" class="btn btn-proceed text-uppercase margin-top-10 hvr-bounce-in"><a href="#">Proceed</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="break1"></div>

            <div class="col-md-4">  
                <div class="width-100">
                    <div class="booking-summary margin-top-20">
                        <h2 class="text-uppercase color-white margin-left-10 margin-0">Booking Summary</h2>
                    </div>
                    <div class="booking-content margin-top-5 padding-20">
                        <div class="row padding-left-0 padding-right-0">
                            <div class="text-uppercase flex-label flex-label-header">
                                <p class="title">Hilongos to Ubay</p>
                                <p class="title">1,400.00 PHP</p>
                            </div>
                        </div>
                        <div class="row padding-left-right">
                            <div class="col-sm-12">
                                <h4 class="text-uppercase title">Fare, Taxes, and Fees</h4>
                                <div class="col-sm-12">
                                    <div class="text-uppercase flex-label">
                                        <p>Regular</p>
                                        <p class="align-end">2 X 250.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Student</p>
                                        <p class="align-end">1 X 200.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Senior Citizen</p>
                                        <p class="align-end">2 X 200.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Children</p>
                                        <p class="align-end">1 X 150.00 PHP</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="additional-fees">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-uppercase flex-label">
                                        <p>Fares</p>
                                        <p class="align-end">1,082.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Processing Fee</p>
                                        <p class="align-end">150.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Vat</p>
                                        <p class="align-end">168.00 PHP</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row padding-left-right">
                            <h3 class="sub-total-below">1,400.00 PHP</h3>
                        </div>
                        
                        <div class="row padding-left-0 padding-right-0">
                            <div class="text-uppercase flex-label flex-label-header">
                                <p class="title">Hilongos to Ubay</p>
                                <p class="title">1,400.00 PHP</p>
                            </div>
                        </div>
                        <div class="row padding-left-right">
                            <div class="col-sm-12">
                                <h4 class="text-uppercase title">Fare, Taxes, and Fees</h4>
                                <div class="col-sm-12">
                                    <div class="text-uppercase flex-label">
                                        <p>Regular</p>
                                        <p class="align-end">2 X 250.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Student</p>
                                        <p class="align-end">1 X 200.00 PHP</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="additional-fees">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-uppercase flex-label">
                                        <p>Fares</p>
                                        <p class="align-end">616.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Processing Fee</p>
                                        <p class="align-end">75.00 PHP</p>
                                    </div>
                                    <div class="text-uppercase flex-label">
                                        <p>Vat</p>
                                        <p class="align-end">84.00 PHP</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-left-right">
                            <h3 class="sub-total-below">775.00 PHP</h3>
                        </div>
                      
                        <h3 class="title">Grand Total</h3>
                        <div class="grand-total">
                            <p class="number">2,175.00 PHP</p>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>