<ng-include src="'assets/app/template/partial/bannerWhole.html'"></ng-include>

<!-- About Us -->
<section class="container">
    <div class="aboutUs" id="aboutUsSection">
        <div class="row">
            <div class="col-md-6">
                <h1 class="section-title text-uppercase text-center margin-bottom-40">About Us</h1>
                <p class="text-justify caption text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-md-6">
                <div class="aboutUs-pic"></div>
            </div>
        </div>
    </div>
</section>

<section class="offers-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-uppercase text-center margin-bottom-50 section-title color-white">Offers</h1>
                <p class="text-center margin-bottom-25 caption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <div class="col-md-7">
                    <div class="pic1"></div>
                </div>
                <div class="col-md-5">
                    <div class="pic2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="location">
    <div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.602476910767!2d124.7476433154935!3d10.373635269333864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33076eecf2937491%3A0x9c5c2175384969a4!2sCreative+Dev+Labs!5e0!3m2!1sen!2sph!4v1519643687594" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="container flex-map">
            <div class="get-in-touch">
                <h2 class="color-white margin-top-0">Get in touch with us</h2>
                <p class="color-white margin-bottom-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <form action="">
                    <input type="text" placeholder="NAME" class="form-control margin-bottom-20 textbox">
                    <input type="text" placeholder="EMAIL" class="form-control margin-bottom-20 textbox">
                    <textarea name="" id="" rows="5" placeholder="MESSAGE" class="form-control margin-bottom-20 textbox"></textarea>
                </form>
                <div class="row">
                    <div class="col-md-6 flex">
                        <i class="fa fa-facebook-square margin-right-20"></i>
                        <i class="fa fa-youtube-play"></i>
                    </div>
                    <div class="col-md-6 flex">
                        <button class="btn btn-submit">SUBMIT</button>
                    </div>
                </div>
            </div>
            <div class="contact-us">
                <h1 class="margin-bottom-20 color-white">Contact Us</h1>
                <div class="row margin-bottom-20">
                    <div class="col-md-2">
                        <div class="address-icon"></div>
                    </div>
                    <div class="col-md-10">
                        <h5 class="text padding-left-20">23 Avenue de Hilongos 6524 Philippines</h5>
                    </div>
                </div> 
                <div class="row margin-bottom-20">
                    <div class="col-md-2">
                        <div class="email-icon"></div>
                    </div>
                    <div class="col-md-10">
                        <h5 class="text padding-left-20">email@gmail.com</h5>
                    </div>
                </div> 
                <div class="row margin-bottom-20">
                    <div class="col-md-2">
                        <div class="tel-icon"></div>
                    </div>
                    <div class="col-md-10">
                        <h5 class="text padding-left-20">(053) 567 - 1234</h5>
                    </div>
                </div> 
                <div class="row margin-bottom-20">
                    <div class="col-md-2">
                        <div class="phone-icon"></div>
                    </div>
                    <div class="col-md-10">
                        <h5 class="text padding-left-20">0912 - 345 - 6789</h5>
                        <h5 class="text padding-left-20">0912 - 345 - 6789</h5>
                        <h5 class="text padding-left-20">0912 - 345 - 6789</h5>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>